body {
	background-image: url("../img/background.jpg");
	color: #E6DEDC; 
	font-family: 'Abel', sans-serif;
}

#header {
	text-align: center;
	font-family: 'Poiret One', cursive;

}

#map{
	border: 2px solid white;
	height: 300px;
	width: 300px;
	border-radius: 100%;
}
#location {
	text-align: center;
}
#map {
	margin-left: auto;
	margin-right: auto;
}

#current {
	text-align: center;
}

#button {
	width: 200px;
	cursor: pointer;
}

#imgContainer {
	width: 230px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}

#hourTable {
	border: 2px solid black;
	background: white;
	color: black;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	text-align: center;
}

td {
	border-bottom: 1px solid black;
}


@media screen and (min-width: 762px){

	#map {
		margin-left: 100px;
	}

	#map {
		display: inline-block;
	}

	#current {
		display: inline-block;
		margin-left: 100px;
		padding: 20px;
		position: relative;
		top: -60px;
	}

	#mediaSection {
		margin-left: auto;
		margin-right: auto;
	}

	#button {
		position: relative;
		top: -116px;
	}

	#hour {
		position: relative;
		top: -130px;
	}

}

